/*=The same contents=*/

/*===all===*/
body{
    font-family:'Montserrat', sans-serif;
    font-size: 14pt;
    background-color: #F8F4F1; 
}

h1{
    font-size: 100pt;
    font-family: 'Satisfy', cursive;
    color:#ffffff;
}

h2{
    font-size: 22pt;
    margin-top: 0px;
    color: #96613A;
    text-align: center;
}

a{
    text-decoration: none;
    color: #96613A;
}


/*===header===*/

header{
    height: 95px;
    font-size: 15pt;
    background-color: #623A1D;
    color: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
}

nav{
    display: grid;
    grid-template-columns: 7% 60% 32%;
    
}
nav div{
    display: flex;
    align-content: center;
    padding: 13px;
    
}

nav a{
    color:#ffffff;
    padding-left: 20px;
    line-height: 375%;

}

nav a:hover{
    color:#96613A;
}




.floatleft{
    float: left;
}


h1{
    font-size: 100px;
    font-family: 'Satisfy', cursive;
    color:#ffffff;
}

h2{
    font-size: 20pt;
}
.banner{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;  
}
.banner h1:hover{
    color:#96613A;
}

section div{
    background-color:#ffffff;
    margin: auto;
    border: 2px solid #623A1D;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    color: #623A1D;
}

section div h2{
    margin-top: 0px;
    color: #96613A;}

/*=footer=*/

footer{
    background-color: #623A1D;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}
footer section{
    width: 300px;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer section a:hover{
    text-decoration:underline;
    
}




/*=homepage homepage homepage homepage homepage homepage homepage homepage =*/

/*=homepage: after banner 4 icons=*/

.homebanner{
    background-image:url(images/homepage/banner-home.jpg);
    height: 400px;
    display: flex;
    margin-top: 95px;

}

#homepage{
    width: 1000px;
    margin: auto;
}

 * {
  box-sizing: border-box;
}
        
#homeicon{
    padding-top: 20px;
    font-size: 12pt;
}

#homeicon::after {
  content: "";
  clear: both;
  display: table;
}

.homeicon{
    width: 220px;
    height: 220px;
    padding: 40px;
    float:left;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
        
.homeicon-right{
     width: 220px;
     height: 220px;
     padding: 40px;
    float:left;
    align-items: center;
    justify-content: center;
    overflow: hidden;}


/*=homepage: hours+about us+events=*/

.homepage-article{
    display: grid;
    grid-template-columns:50% 50%;
}

#leftside{
    width: 480px;
    height: 780px;
    float: left;
    width: 96%;
    overflow: hidden;
}

#events{
    width: 96%;
    height: 780px;   float:right;
    margin-left: 20px; 
    overflow:hidden;
}

.hours{
    height:330px;
}

.abouteon{
    height:384px;
    line-height: 1.4;
}

.abouteon:hover{border: 2px solid #ffffff;}

#events div:hover{
    border: 2px solid #ffffff;
}
.events{
    height: 150px;
    width: 420px;
    overflow: hidden;
    margin-top: 10px;
    text-align: left;
}

.events img{
    padding-right:20px;
}

/*=homepage:five star=*/

#fivestar{
    display: grid;
    grid-column: 1/5;
}

#fivestar div{
    width: 100%;
}





/*=healthy=*/



 
















